

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Подписка</title>
</head>
<body>
    <h2>Подписка на новые объяыления</h2>
    <p><b>{{ user.username }}</b>, вы успешно подписадись на новые объяыления в категориях</p>
    <ul>
        {% for category in categories %}
            <li>{{ category.name }}</li>
        {% endfor %}
    </ul>
</body>
</html>